<% content_for :title do %>
Timeline
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
  <h2>Layers</h2>
  <ul>
    <% GroupHeader.all.each do |h| %>
      <li>
        <a data-toggle="collapse" href="#tg-<%= h.name.parameterize %>">
          <%= h.name %>
        </a>
        <ul id="tg-<%= h.name.parameterize %>" class="collapse">
          <% h.groups.all.each do |g| %>
            <li><a href="#"><%= g.name %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
</div>
<% end %>

<div id="timeline-select">
  <h2>Year</h2>
  <ul id="tls-nav" class="nav">
    <% (1963..1970).each do |y| %>
    <li>
      <a data-toggle="collapse" href="#ty-<%= y %>"><%= y %></a>
      <ul id="ty-<%= y %>" class="collapse">
        <% (1..12).each do |m| %>
          <li><a href="#<%= "D-#{Date::ABBR_MONTHNAMES[m]}-#{y}" %>">
              <%= Date::MONTHNAMES[m] %></a></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<div id="timeline-dates">
  <!--<div class="month">
    <div class="line"></div>
    <h3>December 2012</h3>
    <div class="node">
      <div class="marker"></div>
      <div class="text">
        <a href="#">Name of Photograph</a>
      </div>
      <div class="clearfix"></div>
    </div>
    <div class="date">December 26, 2012</div>
    <div class="node">
      <div class="marker"></div>
      <div class="text">
        <a href="#">Name of Document</a>
      </div>
      <div class="infobox">
        <img src="http://digitalassets.lib.berkeley.edu/fsm/ucb/images/brk00039505b_b.jpg" alt="" />
        <p>There is some caption here!</p>
        <div class="controls">
          <a href="#"><i class="fa fa-share-square-o"></i> Details</a>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>-->
  <% (1963..1970).each do |y| %>
    <% (1..12).each do |m| %>
      <div id="<%= "D-#{Date::ABBR_MONTHNAMES[m]}-#{y}" %>" class="month">
        <div class="line"></div>
        <h3><%= "#{Date::MONTHNAMES[m]} #{y}" %></h3>
      </div>
    <% end %>
  <% end %>
</div>

<div id="timeline-line">
</div>
