<% content_for :title do %>
Timeline
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
  <h2>Data</h2>
  <ul>
    <% GroupHeader.all.each do |h| %>
      <li>
        <a data-toggle="collapse" href="#tg-<%= h.name.parameterize %>">
          <%= h.name %>
        </a>
        <ul id="tg-<%= h.name.parameterize %>" class="collapse">
          <% h.groups.all.each do |g| %>
            <li>
              <a href="#"><%= g.name %></a>
              <div class="value">
                <% g.nodes.each do |n| %>
                  <span class="year"><%= n.date.year %></span><%= n.value %>
                <% end %>
              </div>
            </li>
          <% end %>
        </ul>
      </li>
    <% end %>
</div>
<% end %>

<div id="timeline-select">
  <h2>Year</h2>
  <ul id="tls-nav" class="nav">
    <% (1964..1970).each do |y| %>
    <li>
      <a data-toggle="collapse" href="#ty-<%= y %>"><%= y %></a>
      <ul id="ty-<%= y %>" class="collapse">
        <% (1..12).each do |m| %>
          <li><a href="#<%= "D-#{Date::ABBR_MONTHNAMES[m]}-#{y}" %>">
              <%= Date::MONTHNAMES[m] %></a></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>

<!--<div id="timeline-info">
  <img src="http://digitalassets.lib.berkeley.edu/fsm/ucb/images/brk00039505b_b.jpg" alt="" />
  <ul>
    <li>
      <strong>Creator</strong>
      <span>Free Speech Movement</span>
    </li>
    <li>
      <strong>Date Created</strong>
      <span>September 21, 2012</span>
    </li>
  </ul>
  <a href="#"><i class="fa fa-share-square-o"></i> Details</a>
</div>-->

<div id="timeline-dates">
  <% (1964..1970).each do |y| %>
    <% (1..12).each do |m| %>
      <div id="<%= "D-#{Date::ABBR_MONTHNAMES[m]}-#{y}" %>" class="month">
        <div class="line"></div>
        <h3><%= "#{Date::MONTHNAMES[m]} #{y}" %></h3>
        <div class="clearfix"></div>
        <% 
          if @timeline_info[[y, m]].nil? %>
            </div> 
         <%   next
          end
        %>
        <% (1..31).each do |day| %>
          <% next if @timeline_info[[y, m]][day].nil? %>
          <% next if day.nil? %>
          <% docs = @timeline_info[[y, m]][day] %>
          <% date_obj = Date.new(y, m, day) %>
          <% summary = Summary.where(date: date_obj) %>
          <div class="date"><%= date_obj.strftime("%B %-d, %Y") %></div>
          <% if !summary.empty? %>
            <p class="summary"><a href="<%= summary.first.source_url %>">
              <%= summary.first.summary %></a></p>
          <% end %>
          <% docs.each do |d| %>
            <div class="node">
              <div class="marker"></div>
              <div class="text">
                <% if d["fsmImageUrl"].nil? %>
                  [Document]
                <% else %>
                  [Image]
                <% end %>
                <a href="/details/<%= d["id"] %>"><%= d["fsmTitle"] %></a>
              </div>
              <div class="clearfix"></div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
</div>

<div id="timeline-line">
</div>
