<% content_for :title do %>
Timeline
<% end %>

<% content_for :sidebar do %>
<div id="sidebar">
  <h2>Layers</h2>
  <ul>
    <% GroupHeader.all.each do |h| %>
      <li>
        <a data-toggle="collapse" href="#tg-<%= h.name.parameterize %>">
          <%= h.name %>
        </a>
        <ul id="tg-<%= h.name.parameterize %>" class="collapse">
          <% h.groups.all.each do |g| %>
            <li><a href="#"><%= g.name %></a></li>
          <% end %>
        </ul>
      </li>
    <% end %>
</div>
<% end %>

<div id="timeline-select">
  <h2>Year</h2>
  <ul>
    <% (1960..1970).each do |y| %>
    <li>
      <a data-toggle="collapse" href="#ty-<%= y %>"><%= y %></a>
      <ul id="ty-<%= y %>" class="collapse">
        <% (1..12).each do |m| %>
          <li><a href="#"><%= Date::MONTHNAMES[m] %></a></li>
        <% end %>
      </ul>
    </li>
    <% end %>
  </ul>
</div>
