<div id="header" class="container-fluid">
  <div class="row">
    <div class="col-md-2 col-md-offset-2"> 
      <%= link_to root_path, class: "logo" do %>
        <%= image_tag "logo.png", alt: "Free Speech Movement" %>
      <% end %>
    </div>
    <div class="col-md-6">
      <ul>
        <li><%= link_to "People", "#" %></li>
        <li><%= link_to "Places", "#" %></li>
        <li><%= link_to "Events", "#" %></li>
      </ul>
    </div>
  </div>
</div>
